/*
Use "4. Dark Grey and Yellow-Green" from https://www.hostinger.co.uk/tutorials/website-color-schemes
Yellow-green (#BAFF39) 
dim grey (#6E6E6E) 
wheat
*/
/*General*/
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
    background-color: #6E6E6E;
    color: wheat;
}

/*Header bar and menu items*/
.topnav { /*Outer class*/
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 1; /*Keep it on top*/
    overflow: hidden;
    background-color: #bbbbbb;
    border-bottom-width: 1px;
    border-bottom-color: azure;
    border-bottom-style: groove;

}

.topnavText {
    text-align: center;
    height: 6vw;
    padding-top: 1.5vw; /*All elements get vertical padding*/

}

.topnavText a {
    font-size: 3vw;
    padding: 0.4vw 1vw;
    text-decoration: none;
    color: #575757
}

.topnav a:hover {
    background-color: #ddd;
    color: black;

}
/*Heading text*/
.mainHeader {
    font-size: 6vw;
    margin-top: 26vw;
    margin-bottom: 14vw;
    padding: 4vw 0;
    color: #BAFF39;
    background-color: #bbbbbb;
    text-align: center;
}

.mainSubHeader {
    font-size: 4vw;
    margin-left: 20vw;
    color: #BAFF39;
}

.mainText {
    font-size: 2vw;
    margin-left: 15vw;
    margin-bottom: 4vw;
    color: #a3e032; 
}

/*Images below Heading text*/
.familyFlexContainer {
    display: flex;
    column-gap: 1vw;
    /*flex-direction: row;
    flex-wrap: wrap;*/
    flex-flow: row wrap; /*this is the shorthand for the two above*/
    margin: 16px;
    overflow: hidden;
    justify-content: center;
}

.familyFlexContainer img {
    width: auto;
    max-height: 20rem;
    box-sizing: border-box;
    background-color:  #FAF5E9;
    padding: 0.75rem;
    padding-bottom: 1.5rem; 
    margin: 2rem 0;

}

/*Quote*/
.mainSubHeader {
    margin: 0 10rem; 
}

.attrib {
    margin-left: 14rem;
    margin-bottom: 14rem; 
    color: #a3e032;
    font-style: italic;
}

/*Cockpit instruments*/

.familyFlexContainer {
    margin-bottom: 8rem;

}

.familyFlexContainer .copyright {
    font-size: .65rem;
    font-style: italic;
    margin-left: 2.7rem;
    margin-top: -2.9rem;
    color: black;
}

/*Bottom image*/
.bottomSubHeader {
    font-size: 4vw;
    text-align: center;
    color: #BAFF39;
    margin: 2rem 0;
}

.imageContainer {
    display: flex;
    justify-content: center;
    
}

.image {
    width: 66%;
    box-sizing: border-box;
    background-color:  #FAF5E9;
    padding: 1rem; 
}

.bottomContainer .bottomCopyright p {
    font-size: 1.6vw;
    color: black;
    text-align: center;
    margin-top: -2vw;
}

.bottomLink {
    text-decoration: underline;
    color: #a3e032 ;
}

@media screen and (max-width: 600px) {
.mainSubHeader {
    margin: 0 4vw;
}
.familyFlexContainer .copyright {
    font-size: 2vw;
}




}